# HuggingFace
huggingface_hub
datasets


# YouTube Download
yt-dlp==2025.2.19


# whisper
# fix on transformers not yet merged to main transformers branch
transformers @ git+https://github.com/eustlb/transformers@whisper-pipeline-fix-word-timestamps
# transformers
accelerate


# embeddings
sentence-transformers
pysrt
